$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$gray-light-mid: lighten(#000, 75%);

@import "variables";
@import "bootstrap-sass/lib/bootstrap";
@import "bourbon/bourbon";
@import "../bower_components/solarized/scss/solarized-classes";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top:70px;
}

h1,h2,h3 {
  font-weight: normal;
}

.site-header {
  background:whitesmoke;
  border: 1px solid #e3e3e3;
  a {
    color: $gray;
  }
  .active {
    background:darken(whitesmoke, 6%);
    a {
      color:$gray-darker; 
    }
  }
}

// Puts a high z-index on something
.high-z {
  z-index:1000;
}

.text-lg {
  font-size:$font-size-large;
}

.hero-unit {
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.label-style {
  text-transform: uppercase;
  color:$gray-light;
  font-weight: bold;
}


.placeholder {
  color: $gray-light-mid;
  font-style: italic;
  padding-left: 3px;
}

input, textarea {
  @include placeholder {
    color: $gray-light-mid;
    font-style: italic;
  }
}

.control-label {
  @extend .label-style;
}

.whisky-header {
  h1 {
    display: inline-block;
  }
}


[toggle-focus] [tf-display], .tf-display {
  display:block;
  cursor: pointer;
  padding:4px 0 5px;
}

[toggle-focus] [tf-label] {
  cursor: pointer;
}

[toggle-focus] [tf-input-cont] {
  margin:0px -7px -1px;
  width:100%;
}

.input-xlg {
  font-size: 36px;
  height: 54px;
}

[nav-menu] {
  @extend .nav;
  @extend .navbar-nav;
}

.flavour-wheel {
  svg-holder {
    display: block;
    position: relative;
  }

  svg {
    width: 420px;
    height: 420px;
    // Rotate wheel 1/16th of a turn to line up the first flavour on vertical
  }

  .circular-heat, .labels {
  }

  .ch-center {
    fill: #eee;
    stroke-width: 1;
    stroke:rgba(0,0,0,0.1);
  }

}
