$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


@import "variables";
@import "bootstrap-sass/lib/bootstrap";
@import "bourbon/bourbon";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top:70px;
}

h1,h2,h3 {
  font-weight: normal;
}

.site-header {
  background:whitesmoke;
  border: 1px solid #e3e3e3;
  a {
    color: $gray;
  }
  .active {
    background:darken(whitesmoke, 6%);
    a {
      color:$gray-darker; 
    }
  }
}

.text-lg {
  font-size:$font-size-large;
}

.hero-unit {
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.control-label {
  text-transform: uppercase;
  color:$gray-light;
}


[toggle-focus] [tf-display] {
  display:block;
  cursor: pointer;
  padding:4px 0 5px;
}

[toggle-focus] [tf-label] {
  cursor: pointer;
}

[toggle-focus] [tf-input-cont] {
  margin:0px -7px -1px;
}

.input-xlg {
  font-size: 36px;
  height: 54px;
}

[nav-menu] {
  @extend .nav;
  @extend .navbar-nav;
}
