<div class="row">
  <div class="col-md-12 whisky-header">
    <h1>Tastings</h1>
    <a href="/tasting/new" class="btn btn-primary header-item">New Tasting</a>
    <form class="form-inline">
      <div class="form-group">
        <input class="header-item form-control" type="text" ng-model="search" placeholder="Search">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Whisky</th>
          <th>Sampled On</th>
          <th>Rating</th>
          <th>Flavors</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tr ng-repeat="whisky in whiskies | filter: search | orderBy: 'name'">
        <td><a class="text-lg" href="/#/tasting/{{ whisky._id }}">{{ whisky.name }}</a></td>
        <td class="text-lg">{{ whisky.date }}</td>
        <td class="text-lg">{{whisky.rating}}</td>
        <td><div class="text-lg" unispark="whisky.flavors"></div></td>
        <td class="text-lg">{{whisky.notes}}</td>
      </tr>
    </table>
  </div>
</div>
